name: "Test ialarm-mqtt"

env:
  ADDON_NAME: ialarm-mqtt
  
on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3 
      - name: Test build
        uses: home-assistant/builder@master
        with:
          args: |
            --test \
            --all \
            --target ${{ env.ADDON_NAME }} \
            --docker-user maxill1 \
            --docker-hub maxill1
